{#
/**
* @file
* Footer template, to be included on every page.
*
* Big shoutout to Drupal for these great machine names!
* views_block__sponsors_block_1 = Tier 3 sponsors
* views_block__sponsors_block_2 = Tier 4 sponsors
* views_block__sponsors_block_3 = Tier 5 sponsors
*/
#}
{%
set classes = [
'region',
'region-' ~ region|clean_class,
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="footer__sponsors">
      {{ elements.views_block__sponsors_block_1 }}
      {{ elements.views_block__sponsors_block_3 }}
    </div>

    <div class="footer__wrapper">
      <div class="footer-logo">
        <img src="/themes/custom/atletico/images/logo-mobile.png" alt="Mobile logo">
      </div>
      <div class="footer-links">
        <div class="footer__menu">
          {{ elements.atletico_footer }}
        </div>
        <ul class="footer__address">
          <li class="footer__address__name">Durham Atlético</li>
          <li>201 W. Main St.</li>
          <li>Durham, NC 27701</li>
        </ul>
        <div class="footer__menu--mobile">
          {{ elements.atletico_footer }}
        </div>
        <div class="footer__social-media">
          <ul class="footer__social-media__links">
            <li class="footer__icon">
              <a href="https://www.facebook.com/durhamatletico/">
                <i class="fa fa-facebook-square fa-3x">
                  <span class="visually-hidden">Facebook</span>
                </i>
              </a>
            </li>
            <li class="footer__icon">
              <a href="https://twitter.com/DurhamAtletico">
                <i class="fa fa-twitter-square fa-3x">
                  <span class="visually-hidden">Twitter</span>
                </i>
              </a>
            </li>
            <li class="footer__icon">
              <a href="https://www.instagram.com/durhamatletico/">
                <i class="fa fa-instagram fa-3x">
                  <span class="visually-hidden">Instagram</span>
                </i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <p class="footer__copyright">© 2015 — Present, Durham Atlético</p>
    </div>
  </div>
{% endif %}
